<div class="collection__product-grid">
	{% paginate collection.products by pagination %}
		<div class="grid {{ grid_class }} md:grid-cols-2 gap-10 md:gap-5">
			{% for product in collection.products limit: limit %}
				{% render 'collection-product-card', product: product, image_class: image_class %}
			{% endfor %}
		</div>
		{% render 'pagination', paginate: paginate %}
	{% endpaginate %}
</div>