{% if paginate.pages > 0 %}
	<nav role="navigation" class="flex justify-center mt-10 gap-3">
		{% for part in paginate.parts %}
			{% if part.is_link %}
				<a 
					href="{{ part.url }}"
					class="text-center w-[40px] h-[40px] flex justify-center items-center font-bold border rounded hover:bg-accent hover:border-accent hover:text-white"
				>
					{{ part.title }}
				</a>
				{% else %}
					<span
						class="text-center w-[40px] h-[40px] flex justify-center items-center font-bold border rounded bg-accent border-accent text-white"
					>
						{{ part.title }}
					</span>
			{% endif %}
		{% endfor %}
	</nav>
{% endif %}