@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body{
		font-family: 'Roboto', sans-serif;
		scroll-behavior: smooth;
	}
}

@layer components{
	.container{
		@apply max-w-[1240px]
	}
	.btn{
		@apply text-white transition bg-accent px-10 h-[50px] rounded-xl hover:bg-[#004c3f] active:bg-[#002e25] focus:shadow-[0_0_0.1875em_0.1875em_rgba(0,128,96,0.5)] cursor-pointer
	}
}

[x-cloak] {
	display: none !important
}

.grecaptcha-badge{
	display: none !important
}

.shopify-challenge__container{
	min-height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.g-recaptcha{
	margin-top: 20px;
	margin-bottom: 20px;
}

/* Header Menu */


.scroll-up{
  transition: .3s ease all;
}

.scroll-up .sticky-header{
	opacity: 1;
}

.sticky-header{
	z-index: 22;
	top: 0;
	position: sticky;
	width: 100%;
	transition: .3s ease all;
	left: 0;
}

.scroll-down{
  transition: .3s ease all;
}

.scroll-down .sticky-header{
	opacity: 0;
	z-index: -1;
 }

.header{
	grid-template-areas: "header-logo header-menu header-icons";
}

@media (max-width: 768px) {
	.header{
		grid-template-areas: "header-menu header-logo header-icons";
	}
}

.header__logo{
	grid-area: header-logo;
}

.header__menu{
	grid-area: header-menu;
}

@media (min-width: 768px) {
	.nav__item-submenu{
		position: absolute;
		background-color: #fff;
		border: 1px solid #dadada;
		padding: 15px;
		min-width: 160px;
		bottom: -10px;
		transform: translateY(100%);
		left: 0;
	}
}

.header__icons{
	grid-area: header-icons;
}

/* Burger Menu */
.header__menu-burger{
	position: relative;
	width: 30px;
	height: 18px;
	cursor: pointer;
	z-index: 5;
	display: none;
}

@media (max-width: 768px) {
	.header__menu-burger{
		display: block;
	}
}

.header__menu-burger span, .header__menu-burger:before, .header__menu-burger:after{
	transition: all 0.3s ease 0s;
	top: calc(50% - 1px);
	left: 0px;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #1d1d1d;
}

.header__menu-burger:before, .header__menu-burger:after{
	content : " ";
}

.header__menu-burger:before {
	top: 0px;
}

.header__menu-burger:after {
	top: auto;
	bottom: 0px;
}

.header__menu-burger.active span{
	transform: scale(0);
}

.header__menu-burger.active:before{
	transform: rotate(-45deg);
	top: calc(50% - 1px);
}

.header__menu-burger.active:after{
	transform: rotate(45deg);
	bottom: calc(50% - 1px);
}