<div class="container my-8 max-w-[400px] text-center">
  <h1 class="text-center text-3xl font-bold mt-6">Reset your password</h1>
  <p>Reset message will come to your email</p>
  <div class="mt-8">
    {% form 'reset_customer_password', class: 'space-y-3' %}
      {% if form.errors %}
				<div class="flex flex-row items-center justify-center w-full">
					{% for error in form.errors %}
						<div class="text-red-500">
							{% render 'icon-failed' %}
						</div>
						<p class="text-red-500 text-sm font-bold ml-2">
							{{ form.errors.messages[error] }}
						</p>
					{% endfor %}
				</div>
			{% endif %}

        <label for="password" class="sr-only">New Password</label>
        <input
          type="password"
          id="password"
          name="customer[password]"
          placeholder="New Password"
          autocomplete="new-password"
          class="input"
					required
        >
        <label for="password_confirmation" class="sr-only"
          >Confirm Password</label
        >
        <input
          type="password"
          id="password_confirmation"
          name="customer[password_confirmation]"
          placeholder="Confirm Password"
          autocomplete="new-password"
          class="input"
					required
        >
      <button type="submit" class="button w-full !mt-5">Reset password</button>
    {% endform %}
  </div>
</div>
