<div class="container my-8 max-w-[400px] text-center">
  <h1 class="text-center text-3xl font-bold mt-6">Reset your password</h1>
  <p>Reset message will come to your email</p>
  <div class="mt-8">
    {% form 'reset_customer_password' %}
      {% if form.errors %}
        <div
          class="relative border border-red-400 bg-red-100 text-red-700 px-4 py-3"
          role="alert"
        >
          <strong class="font-bold">Error!</strong>
          <p class="block sm:inline">{{ form.errors | default_errors }}</p>
        </div>
      {% endif %}
      <div class="my-2">
        <label for="password" class="sr-only">New Password</label>
        <input
          type="password"
          id="password"
          name="customer[password]"
          placeholder="New Password"
          autocomplete="new-password"
          class="input"
        >
      </div>
      <div class="my-2">
        <label for="password_confirmation" class="sr-only"
          >Confirm Password</label
        >
        <input
          type="password"
          id="password_confirmation"
          name="customer[password_confirmation]"
          placeholder="Confirm Password"
          autocomplete="new-password"
          class="input"
        >
      </div>
      <button type="submit" class="button w-full">Reset password</button>
    {% endform %}
  </div>
</div>
