<div class="container ajax-collection">
	<div class="flex items-center justify-between mb-3 gap-3 md:flex-col-reverse">
		{% render 'collection-filters-applied' %}
		{% render 'collection-sort' %}
	</div>
	<div class="flex justify-between md:block mb-3">
		{% render 'collection-filters' %}
		{% render 'collection-product-grid', grid_class: 'grid-cols-4', image_class: 'h-[200px] w-auto md:h-[150px]', pagination: 12 %}
	</div>
</div>