<div class="container max-w-[600px]">
  <div class="text-center mb-5">
    <h1 class="text-3xl font-bold my-1">
      {{ section.settings.title }}
    </h1>
    {{ section.settings.text }}
  </div>
  {% form 'contact' %}
    {% if form.errors %}
			<div class="flex flex-row items-center w-full my-3">
				<div class="text-red-500">
					{% render 'icon-failed' %}
				</div>
				<div class="text-red-500 text-sm font-bold ml-3">
					Oh no! Your message was not sent
				</div>
			</div>
			<ul class="px-4 mb-3 ml-7 list-decimal">
				{% for error in form.errors %}
					<li>
						<span>{{ form.errors.messages[error] }}</span>
					</li>
				{% endfor %}
			</ul>
    {% elsif form.posted_successfully? %}
      <p class="text-green-500 font-bold text-center mb-5">
        Message is sent successfully
      </p>
    {% endif %}
    <div class="grid grid-cols-2 gap-3">
      <label
        for="contact_name"
        class="sr-only"
        >First Name</label
      >
      <input
        type="text"
        name="contact[first_name]"
        id="contact_name"
        class="input sm:col-span-2"
        placeholder="First Name"
      >
      <label
        for="contact_name"
        class="sr-only"
        >Last Name</label
      >
      <input
        type="text"
        name="contact[last_name]"
        id="contact_name"
        class="input sm:col-span-2"
        placeholder="Last Name"
      >
      <label
        for="contact_email"
        class="sr-only"
        >Email</label
      >
      <input
        type="email"
        name="contact[email]"
        id="contact_email"
        class="input col-span-2"
        placeholder="Email"
      >
      <label
        for="contact_message"
        class="sr-only"
        >Message</label
      >
      <textarea
        name="contact[body]"
        id="contact_message"
        class="input resize-none h-20 py-2 col-span-2"
        placeholder="Message"
      ></textarea>
    </div>
    <div class="text-center mt-3">
      <button type="submit" class="button">Submit</button>
    </div>
  {% endform %}
</div>

{% schema %}
{
  "name": "Contact Form",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Contact Us"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Feel Free to Contact Us!</p>"
    }
  ],
  "presets": [
    {
      "name": "Contact Form"
    }
  ]
}
{% endschema %}
