<div class="max-w-md">
	<h1 class="text-5xl font-bold my-4">{{ section.settings.title }}</h1>
	<p class="my-4 text-base md:text-xl leading-normal">{{ section.settings.subtext }}</p>
	{% if section.settings.button_url == blank %}
			{% assign shop_url = shop.secure_url %}
		{% else %}
			{% assign shop_url = section.settings.button_url %}
	{% endif %}
	<a href="{{ shop_url }}" class="px-4 inline py-2 text-base font-medium shadow text-white bg-green-600 hover:bg-green-800">{{ section.settings.button_label }}</a>
</div>

{% schema %}
{
	"name": "Template 404",
	"tag": "section",
	"class": "flex items-center justify-center text-center py-7 h-screen",
	"settings": [
		{
			"type": "text",
			"id": "title",
			"default": "404",
			"label": "404 Heading Title"
		},
		{
			"type": "text",
			"id": "subtext",
			"default": "The page you were looking for does not exist",
			"label": "404 Subtext Title"
		},
		{
			"type": "text",
			"id": "button_label",
			"default": "Back to Homepage",
			"label": "Button Text"
		},
		{
			"type": "url",
			"id": "button_url",
			"label": "Button URL"
		}
	]
}
{% endschema %}